/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn,
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  border: none;
  font-family: 'Roboto', sans-serif;
}

.form-text,
.text-muted, {
  color: #fff;
}
/*
 * Base structure
 */

html,
body {
  height: 100%;
  background: url(../img/virtulaw.jpg) no-repeat center fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

body {
  color: #fff;
}

.newcontent{
  padding-top: 8em;
}

@media screen and (max-width: 767px){
  .newcontent{
    padding-top: 1em;
  }
  .btn{
    width: 100%;
  }
}
@media screen and (max-width: 413px){
  .newcontent{
    padding-top: 0.3em;
  }
  .btn{
    width: 100%;
  }
  h4, small{
    font-size: 21px;
  }
  form{
    padding-top: 0.5em;
  }
}

/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
  position: fixed;
  bottom: 0;
}


@media (min-width: 40em) {
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
}
